{% extends 'common/common_base.html' %}
{% block header %}
{% endblock %}
{% block body %}
<div class="trace_box">
    <a href="/">首页</a> >> <a href="/manage/">YouMoGan管理平台</a>
</div>
{% block content %}{% endblock %}
{% endblock %}
{% block footer %}
<div id="footer" style="width:auto;">
	<div class="dashed_line"></div>
	<span class="span_left">
	© 2008 YouMoGan.com, all rights reserved
	</span>
	<span class="span_right">
	<a target="_blank" href="/site/about/">关于幽默感</a>
	┊
	<a target="_blank" href="/site/help/">帮助</a>
	┊
	<a href="/manage/url_list/">url list</a>
	</span>
</div>
{% endblock %}
