{% extends 'manage/manage_base.html' %}
{% block content %}
<div class="trace_box">
<a href="/">首页</a>
>>
<a href="/manage/style_center/">全站URL列表</a>
</div>
<h1 align="center">style center</h1>
<div>
<a class="button_red">
<span>hello</span>
</a>
</div>

<div>
<div style="float:left; width:200px; background-color:#ddd;">aaaaaaaaaaaaaaaaaaaaaa</div>
lkjasdlkfjal
alksdflkja
asldkfjalksdfj
lkjasdlkfjal
alksdflkja
asldkfjalksdfj
lkjasdlkfjal
alksdflkja
asldkfjalksdfj
lkjasdlkfjal
alksdflkja
asldkfjalksdfj
lkjasdlkfjal
alksdflkja
asldkfjalksdfj
</div>
<div>
<h1>幽默，样式，中文h1,20px</h1>
<h2>幽默，样式，中文h2,19px</h2>
<h3>幽默，样式，中文h3,17px</h3>
<h4>幽默，样式，中文h4,15px</h4>
<h5>幽默，样式，中文h5,14px</h5>
幽默，样式，中文14px -- 默认
<div style="font-size:22px;">幽默，样式，中文22px</div>
<div style="font-size:21px;">幽默，样式，中文21px</div>
<div style="font-size:20px;">幽默，样式，中文20px</div>
<div style="font-size:19px;">幽默，样式，中文19px</div>
<div style="font-size:18px;">幽默，样式，中文18px</div>
<div style="font-size:17px;">幽默，样式，中文17px</div>
<div style="font-size:16px;">幽默，样式，中文16px</div>
<div style="font-size:15px;">幽默，样式，中文15px</div>
<div style="font-size:14px;">幽默，样式，中文14px</div>
<div style="font-size:13px;">幽默，样式，中文13px</div>
<div style="font-size:12px;">幽默，样式，中文12px</div>
</div>
{% endblock%}