<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>您访问的地址不存在 - 幽默感</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
        <link href="/static/css/main2.css" rel="stylesheet" type="text/css" /></head>
    </head>
    <body>
        <div class="info_big_box" style="margin:50px auto;padding:100px;width:300px;">
            <h2>对不起，您访问的地址不存在！</h2>
        </div>
    </body>
</html>
