{% extends 'site/site_base.html' %}

{% block content %}
<div class="trace_box">
    <a href="/">首页</a> >> <a href="/site/help/">帮助</a>
</div>
<div id="menu_left">
    <ul id="side_menu">
        <li class="active"><a href="/site/help/">关于幽默感</a></li>
        <li><a href="/site/agreement/">协议声明</a></li>
    </ul>
</div>
<div id="menu_right">
    <div class="common_info">
        <h3>“幽默感”是怎么样的网站</h3>
        <p>
            “幽默感”（<a href="http://www.youmogan.com/">www.YouMoGan.com</a>）是一个专注于幽默的站点，力求在简洁的界面与交互下为大家提供生活中的各种幽默。
        </p>
        <h3>为什么要创建“幽默感”</h3>
        <p>
            幽默是大家快乐生活的一个要素。但是现在网络上的幽默资源站点，绝大多数都充斥着大量的广告，给浏览者以极差的用户体验。为此，我们想提供一个简洁的站点改善用户体验。并通过广大浏览者的力量，共同删选、提炼出真正富于幽默的文字，将无聊的内容降低曝光率直至删除。
        </p>
        <h3>什么是幽默</h3>
        <p>
            幽默是一种艺术，幽默是一种生活方式和处世态度。学会幽默就会学会生活！
        </p>
        <p>
            幽默不单是让别人发笑。幽默和滑稽不同，幽默是经得起品味的，是越想越乐的。
        </p>
        <p>
            幽默让人感到放松、开心和快乐，不在于是语言还是肢体行动。
        </p>
        <p>
            幽默是人的一种气质，而所有的气质都和心态相关，幽默关键的是心态。
        </p>
        <p>
            幽默是人们放松自己和他人的一种过程。
            一个很不好的事情，也许幽默的人说出来就会让人觉得没那么不好。
            甚至觉得一个很不好的事情也会有好的一面，让人不会很悲观。
            幽默是生活中不可缺少的一种交流方式。
            大家通过幽默使自己得到放松，使自己和他人活的更快乐。
            幽默感不管对自己还是对别人都是润滑剂。当你沮丧于或狂热于某些事情上的时候，幽默感将平抚你的情绪，恢复平静。
        </p>
        <h3>现在开放注册用户吗</h3>
        <p>
            “幽默感”目前不开放注册用户帐号。因为我们认为现在更多的网友选择享受在“幽默感”上浏览幽默的快乐。如果您认为有必要开放注册帐号，请通过下面的联系方式联系我们。
        </p>
        <h3>联系方式</h3>
        <p>如果您有什么反馈、建议或者意见，请通过邮件联系我们，邮件地址为：service@youmogan.com，我们会尽快回复。</p>
        <h3>关于我们</h3>
        <p>我们是一群普通的IT工作者，每天的工作离不开网络。“取之于民，用之于民”，我们愿意利用我们的闲暇时间建立这样一个简洁的站点，分享我们在网络上发现的幽默与感动。也希望所有的浏览者能够贡献自己的力量，让“幽默感”这个站点成为你每天快乐生活的一个小小源泉！</p>
    </div>
</div>
{% endblock %}
