{% extends 'iq/iq_base.html' %}
{% block title %}什么是脑筋急转弯 - 幽默感{% endblock %}
{% load filters %}

{% block content %}
<div class="trace_box">
    <a href="/">首页</a> >> <a href="/iq/">脑筋急转弯</a>
</div>
<div id="big_left">
    <div class="common_info" style="padding:5px;">
        <h3>什么是脑筋急转弯</h3>
        <div>
            <p>
                脑筋泛指思维、思路。
            </p>
            <p>
                转弯是指当前面有障碍物使车不能按照直线行驶时要往别的路线开，急转弯通常是有特殊情况的时候，需要很快的离开习惯路线，从别的路线走。
            </p>
            <p>
                脑筋急转弯就是指当思维遇到特殊的阻碍时，要很快的离开习惯的思路，从别的方面来思考问题。现在泛指一些不能用通常的思路来回答的的智力问答题。
            </p>
            <p>
                IQ是Intelligence Quotient的缩写，意为智力商数，简称智商。它是测量个体智力发展水平的一种指标。最早是由德国心理学家施太伦（L．W．Stern）提出，美国心理学家推孟在制订“斯坦福—比内量表”中引用IQ，并加以改进。IQ是用智龄（心理年龄）除以实际年龄所得的商，乘以100，即比率智商。其计算公式为：IQ＝MA（智力年龄）/CA（实际年龄）×100 它建立的前提是假定智龄随实际年龄而增长，实际上，智力并非随年龄增长而呈直线上升，一般16岁后，智力就基本停止发展了。
            </p>
            <p>
                IQ测试题就是智力测试题，可以帮助我们通过不同的方式开发或锻炼大脑思维的能力。
            </p>
        </div>
    </div>
</div>
<div id="small_right">
    {% load recommend %}
    {% iq_acd %}
</div>
{% endblock %}