{% extends 'riddle/riddle_base.html' %}
{% block title %}谜语简介 - 幽默感{% endblock %}
{% load filters %}

{% block content %}
<div class="trace_box">
    <a href="/">首页</a> >> <a href="/riddle/">谜语</a>
</div>
<div id="big_left">
    <div class="common_info" style="padding:5px;">
        <h3>谜语简介</h3>
        <div>
            <p>
                谜语是我国特有的一种文字游戏，也是民间语言花园里一枝色彩诱人、异香扑鼻的山野奇葩。它曲折别致，变化多端，寓意奥妙，耐人寻味，不仅有其独特的思想艺术价值和社会文化功能，而且源远流长，凝聚着民族的丰富智慧和美好情趣。
            </p>
            <p>
                谜语最早起源于古时的隐喻。它在古人生活中应用的广泛程度，几乎令人难以想象。在外交场合，它是智力测验的尺度，国家治理靠它甄别贤才，个人靠它选择配偶，甚至敌国间还靠它伺探对方的实力。在曹魏时代，才正式形成今天通常所说的谜语。
            </p>
            <p>
                到了宋代，因元宵节要悬挂彩灯，为了招徕观众，赏灯时将谜语写成纸条，贴挂于灯上供人品猜，于是又有了“灯谜”之称。宋代以后，猜谜语一直是春节晚上的娱乐项目，甚至今天仍然如此。
            </p>
            <p>
                由于猜谜十分不容易，要费尽心机，好像射虎一般，因而，猜谜又被戏称为“射虎”，灯谜则被称为“灯虎”。
            </p>
            <p>
                一条谜语包含谜面、谜目和谜底三个部分。谜面是谜语的喻体，又叫“表”，它是巧妙地隐喻着谜底的单字、多字、成语、古今诗词文句或作者自拟的句子，也可以是图形或其他符号或公式，但多数采用短语、韵语或诗句形式。
            </p>
            <p>
                谜目是指谜面要求猜射的事物的范围，如不规定猜射的事物的范围，猜谜者无所是从，难以猜测。谜底是指谜面指出的实际要猜射的事物，即谜语的本体和“里”。猜谜者要通过谜面的暗示，在谜目规定的范围内找出它所指的实际事物，达到猜中的目的。
            </p>
            <p>
                谜语是智力游戏、知识教育和诗情画意融为一体，以最为短小精悍的语言形式来包容大千世界与人类智慧的一种特殊载体。猜谜不但能增长知识，开发智力，陶冶情操，锻炼和培养观察能力、思维能力、和审美能力，激发想象力和创造力，而且可以为家庭创造生活情趣，因而历来深受人们的喜爱。
            </p>
        </div>
    </div>
</div>
<div id="small_right">
    {% load recommend %}
    {% riddle_acd %}
</div>
{% endblock %}