{% extends 'riddle/riddle_base.html' %}
{% block title %}谜语的起源及演变 - 幽默感{% endblock %}
{% load filters %}

{% block content %}
<div class="trace_box">
    <a href="/">首页</a> >> <a href="/riddle/">谜语</a>
</div>
<div id="big_left">
    <div class="common_info">
        <h3>谜语的起源及演变</h3>
        <div>
            <p>中华谜语历经数千年的演变、发展、完善才形成现今的体系格局。</p><p> 远古时代，人们在进行语言交流时，偶尔会由于某种特别的原因，不便直截了当表达思想，而要通过拐弯抹角、迂回曲折的语言来暗示另一层内容，这就有了“谜语”的萌芽。</p>
            <p> 有文字记载的所谓“曲折隐喻”的语言现象，最早出现在黄帝时代《弹歌》诗里的“断竹，续竹，飞土，逐肉”，即隐示人们制作弹弓、猎杀野兽的情形。</p><p> 到了春秋战国时期，这种谜语雏形已十分流行，并有了名称，叫“廋辞”和“隐语”。有的君主喜欢隐语，而不愿意听直截了当的忠言。刘勰的《文心雕龙》中有“楚庄齐威，性好隐语”的记载。</p><p> 战国后期出现了赋体隐语，其中以荀子的《附论篇》最具代表性。此赋体已基本具备了民间谜语中赋体谜的特征，大约产生于两千三百年千。</p><p> 到了汉代出现了射履活动，就是把东西放在器物下面让人猜。现在，我们有时候还把猜谜语叫做射履或射，应该是源于此。</p><p> 谜语在魏晋南北朝时期有了重大发展。北朝刘勰《文心雕龙》中写到：“谜也者，回互其辞，使昏迷也”。这一定义一直沿用至今。</p><p> 宋代谜语的迅速发展，早就了一批专业谜语和谜社组织，同时诞生了“灯谜”。中华谜语从此开创了民间谜语和灯谜两条腿走路的新格局。此时距今大约八百年。  </p><p>元明两朝，谜语继宋之后仍盛行不衰，蒙族人照样爱玩谜语。明朝出现了一些研究谜语的论著和收录谜语的专集，其中有冯梦龙的《黄山谜》，黄周星的《廋词四十笺》及贺从善的《千文虎》等。</p><p> 到了清朝中期以后，中华谜语进入成熟期，文义谜更是大行其道。人们追求谜语扣合的严谨，逐渐摒弃冗长拖沓的面句，崇尚以大众熟悉的成语或通俗语句为面，加上谜材由原先的文字、事物、人名扩展到诸子百家、四书五经，甚至俗语、中药、地名、书名等，极大地扩宽了谜路，促进了谜语的提供和普及。</p><p> 到了历史的今天，这一古老的传统文化又获得新的生命。全国各地的猜谜活动蓬勃发展，各地的文化馆、俱乐部都成立了群众性的灯谜组织，不少地区还成立了灯谜爱好者协会。灯谜的内容和形式也有了很大的创新，灯谜真正成为了扎根群众的艳丽花朵。 </p>
        </div>
    </div>
</div>
<div id="small_right">
    {% load recommend %}
    {% riddle_acd %}
</div>
{% endblock %}