{% extends 'riddle/riddle_base.html' %}
{% block title %}谜语的构成 - 幽默感{% endblock %}
{% load filters %}

{% block content %}
<div class="trace_box">
    <a href="/">首页</a> >> <a href="/riddle/">谜语</a>
</div>
<div id="big_left">
    <div class="common_info">
        <h3>谜语的构成</h3>
        <div>
            <p>灯谜一般由谜面、谜目和谜底三部分组成。有些运用迷格制成的灯谜还由迷路。如：第一个教室（学校用语），谜底：先进班级（作“最先进入班级”解）。这里“第一个教室”是谜面，“学校用语”是谜目，“先进班级”是谜底。节约能收（秋千格）（地理名词）谜底：省会（作“会省”解）。这里的“秋千格”是迷格以下具体介绍灯谜各组成部分。</p>
            <h4>谜面</h4><p>谜面是灯谜的主要部分，是猜谜时以隐语的形式表达描绘形象、性质、功能等特征，供人们猜射的说明文字。</p><p>它是为了揭示谜底所给的条件货提供的线索，是灯谜艺术的表现部分，也可以说是灯谜提出问题的部分，通常由精炼而富于形象的诗词、警句、短语、词、字等组成。谜面文字要求简介明了，通俗易懂。</p><p>谜面可以说出来让人猜，也可以写出来。一般来讲，民间谜语（事物迷，包括简单的字谜）多是说出来的，灯谜差不多都得写出来。</p><p>比如，有这么一条民间谜语：大姐树上叫，二姐吓一跳，三姐拿砍刀，四姐点灯照。（猜四种昆虫）。这四句九是出的谜底，也就是谜面（谜底：蝉、蚂蚱、螳螂、萤火虫）。这四句九可以说出来，让人来猜。</p><p>来看看灯谜的谜面：三市尺不是米。（打一字）；凤头虎尾。（打一字）这样的谜面就是要写出来，因为谜底得反复琢磨。头一个谜底是“来”，因为三市尺是“一米”，“一”、“米”上下一合，是“来”字。第二格谜底是“几”字，因为凤字“头”和“虎”字的“尾”，正好斗是“几”字。</p><p>还有一些灯谜的谜面不是文字，而是由图形、实物、符号、数字、字母、印章、音像、动作等组成。不论谜面采用哪种形式，都应该简洁明快，隐喻得当，富于巧思。</p>
            <h4>谜目</h4><p>谜目是给谜底限定的范围，是联系谜面和谜底的“桥梁”。它的作用有点像路标，给人指明猜射的方向。</p><p>如“猜字一”，就是限定谜底只能是一个字，不能是别的东西，也不能多余一个字。即使猜别的东西也能扣合谜面，仍算没有猜中。</p><p>谜目附在谜面的后边，比如“打一字”，“打”是“猜”的意思，“打一字”就是“猜一字”。</p><p>一般谜目规定的谜底是一个，也有的是两个或者几个。比如：客满（打字二）。谜目规定了谜底有两个。用会意法来猜，谜底就是“促”、“侈”。客满，表示人已经足够了，“人”“足”合成“促”；也可以表示人已经非常多了，“人”“多”合成“侈”。</p><p>标谜目时，应特别注意其范围。标的范围过大，猜射起来九难；标的范围太小，猜射起来就容易。</p>
            <h4>谜底</h4><p>谜底九是谜面所提出问题的答案。谜底字数一般很少，有的是一个字、一个词、一个词组、有的是一种事物的名称或者动作，做多也不过是一两句诗词。如果谜底字数教多，制谜者就不容易制出好谜，猜谜语者也不好猜中。有趣的是，有些灯谜的谜底和谜面互相调换以后，还能成谜。比如：泵（打成语一）。泵是一种机械，有气泵、水泵等。“泵”字“石”在上，“水”在下，用会意法猜出谜底：水落石出。“水落石出”是个成语。反过来，用“水落石出”做谜面（打一字），它的谜底九是“泵”。</p><p>谜底是指谜面含蓄转折所指的、要人猜射的事物本身，是灯谜隐藏的内在部分，也可以说是谜面说提问题的答案。</p><p>谜底既要符合谜面的内在含义，又必须符合谜目所限定的范围，使人一见谜底就有“恍然大悟”之感。</p><p>一般说来，灯谜的谜底应专一。一侧好的灯谜，应该而且之能有一个谜底，不应该有两个或者更多的谜底。</p>
            <h4>谜格</h4><p>谜格产生于明代。当时，由于灯谜的不断发展，通常使用的制谜方法已远远不能满足人们的需求。于是人们创造出各种各样的迷格，借助它们来制作谜语。</p><p>按照迷格的规定，或者把谜底种字的位置移动一下，或者把谜底中的字读成谐音（就是字音相同或相近），或者对谜底中文字的偏旁部首进行一番加工整理，然后再去扣合谜面。</p><p>有关迷格的其他知识会在相关页面专门讲述。</p>
        </div>
    </div>
</div>
<div id="small_right">
    {% load recommend %}
    {% riddle_acd %}
</div>
{% endblock %}

