{% extends 'riddle/riddle_base.html' %}
{% block title %}谜语的风格特点 - 幽默感{% endblock %}
{% load filters %}

{% block content %}
<div class="trace_box">
    <a href="/">首页</a> >> <a href="/riddle/">谜语</a>
</div>
<div id="big_left">
    <div class="common_info">
        <h3>谜语的风格特点</h3>
        <div>
            <p>谜语风格大致可以分为主流、民间、典雅和通俗风格四种类型。</p><h4>一、主流：</h4><p>这样的谜作多产生于某个时期、某种场合，多是为了某种特定的需要而特别创作的。其特点是主题突出，内容严肃，针对性强，效果显著。虽然主题不同，但都具有主流性的特征。下面举例加以说明：</p><li>中国在腾飞。（猜化学名词）谜底：升华</li><li>法网恢恢，疏而不漏。（猜京剧剧目）谜底：《全部罗成》</li><h4>二、民间：</h4><p>民间风格的猜谜多以百姓常见、熟悉的事物为谜材，谜面语言朗朗上口，易记易传。大多数民间猜的谜都属于这种类型。</p><h4>三、典雅：</h4><p>典雅风格，又称“书家意”。此类谜作注重文采，书卷气浓厚，多以典故入谜，或以前人诗词名句做面，在扣合上追求贴切自然，浑然天成。猜答起来有一定的难度。举例如下：</p><li>霜禽欲下先偷眼。（猜《西厢记》）谜底：恐怕张罗</li>
            <li>萧疏听雨声。（猜《汉书》）谜底：此天下所稀闻</li><li>到黄昏，点点滴滴。（猜国外名著二）谜底：《天才》《黑雨》</li>
            <h4>四、通俗:</h4><p>这样的谜猜起来障碍要少的多。因为谜面多源于生活，使用通俗的语言。即使是成句，也是平易近人的。在扣合方面，即使有别解，也只是汉字一字多义等手法。所以大众容易理解和接受，比如：</p><li>天庭饱满，地阁方圆。（猜一礼貌用语）谜底：首长好</li><li>故友两离别。（猜阴历一名词）腊月</li><p>可以看出，以上谜作朴实无华，深入浅出，而且扣合贴切，妙趣横生。可见通俗并非庸俗、粗俗，所谓“俗而不雅”就实这个道理。</p><p>现在随着谜语的繁荣，我们还经常看到一些谜语故事、智力竞赛及意智游戏之类的竞猜题，有人也称之为谜语，其实这不能一概而论。</p>
        </div>
    </div>
</div>
<div id="small_right">
    {% load recommend %}
    {% riddle_acd %}
</div>
{% endblock %}

